body {
  margin: 0;
  line-height: normal;
}
.create-account-child {
  position: absolute;
  top: 64px;
  left: -1px;
  background-color: var(--color-gray-200);
  width: 1920px;
  height: 1016px;
}
.exchange1 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
}
.fiarrow-right-icon1 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.buttonsecondarytrailingdefa1 {
  border-radius: var(--br-md);
  background-color: var(--color-violet);
  width: 188px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.buttonsecondarytrailingdefa-container {
  position: absolute;
  top: 891px;
  left: 866px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.alex,
.first-name {
  position: relative;
  display: inline-block;
}
.alex {
  width: 136px;
  flex-shrink: 0;
}
.email1 {
  border-radius: var(--br-xs);
  background-color: var(--text-icon-primary);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 206px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
  color: var(--color-gray-900);
}
.username {
  gap: var(--gap-sm);
}
.frame-parent1,
.userinputshort,
.userinputshort-wrapper,
.username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1,
.userinputshort-wrapper {
  flex-direction: row;
}
.frame-parent1 {
  gap: var(--gap-lg);
}
.alex-hodge {
  position: relative;
  display: inline-block;
  width: 408px;
  flex-shrink: 0;
}
.email3,
.frame-container {
  display: flex;
  justify-content: flex-start;
}
.email3 {
  border-radius: var(--br-xs);
  background-color: var(--text-icon-primary);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 446px;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-xl);
  align-items: center;
  color: var(--color-gray-900);
}
.frame-container {
  position: absolute;
  top: 304px;
  left: 736px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  color: var(--color-gray-1100);
  font-family: var(--font-open-sans);
}
.create-an-account {
  position: absolute;
  top: 209px;
  left: 792px;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  font-family: var(--font-exo-2);
  color: var(--color-gray-1200);
  display: inline-block;
}
.create-account-item {
  position: absolute;
  top: 1197px;
  left: 1201.5px;
  width: 628px;
  height: 0;
}
.create-account-inner {
  position: absolute;
  top: 183px;
  left: 606px;
  width: 116px;
  height: 116px;
}
.mask-group-icon2 {
  position: absolute;
  top: -4px;
  left: -11px;
  width: 96px;
  height: 95px;
  object-fit: cover;
  display: none;
}
.skeleton4,
.skeleton5 {
  position: absolute;
  top: 25px;
  left: 62px;
  display: none;
}
.skeleton5 {
  top: 27px;
  left: 110px;
  color: var(--color-gray-1200);
  display: inline-block;
}
.skeleton-purple-12 {
  position: absolute;
  top: 0;
  left: 44px;
  width: 82px;
  height: 82px;
  object-fit: cover;
}
.notifications-icon2,
.user-icon2 {
  position: absolute;
  height: 100%;
  width: 8.56%;
  top: 0;
  right: 13.42%;
  bottom: 0;
  left: 78.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.user-icon2 {
  right: 0;
  left: 91.44%;
}
.vector-icon6 {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.contents1,
.search1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.contents1 {
  gap: var(--gap-md);
}
.search-bar2,
.top-nav-202 {
  position: absolute;
  box-shadow: 0 8px 30px rgba(122, 122, 122, 0.05);
}
.search-bar2 {
  height: 86.36%;
  width: 69.65%;
  top: 6.82%;
  right: 30.35%;
  bottom: 6.82%;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--text-icon-primary);
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.top-nav-202 {
  top: 14px;
  left: 1235px;
  width: 514px;
  height: 44px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-800);
  font-family: var(--font-open-sans);
}
.top-nav2 {
  position: absolute;
  height: 102.86%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -2.86%;
  left: 0;
  background-color: var(--text-icon-primary);
  overflow: hidden;
}
.frame-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.connect-wallet2 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: inline-block;
}
.buttonsecondarystatusdefaul2 {
  position: absolute;
  top: 11px;
  left: 1612px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-1000);
  box-shadow: var(--button-shadow);
  width: 161px;
  display: none;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-source-sans-pro);
}
.create-account,
.landing-top-nav2 {
  background-color: var(--text-icon-primary);
}
.landing-top-nav2 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  width: 1920px;
  height: 70px;
  text-align: left;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
}
.create-account {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--text-icon-primary);
  font-family: var(--font-source-sans-pro);
}
